@model ErrorViewModel
@{
    Layout = "_Layout";
}
<div class="container my-6 text-center">
    <h1>Access denied (403)</h1>
    <p>You don't have permission to view this resource.</p>

    @if (!User.Identity?.IsAuthenticated ?? true)
    {
        <p><a class="btn btn-primary" href="/Identity/Account/Login">Sign in</a> if you have an account.</p>
    }
    else
    {
        <p>If you think this is a mistake, contact your project admin or <a href="/support">support</a>.</p>
    }

    <hr />
    <p class="text-muted">Reference code: <code>@Model.RequestId</code></p>
</div>
