@model IEnumerable<ProjectManagementApplication.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<h1>Projects</h1>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in Model)
    {
        <div class="col">
        <div class="card h-100 border-primary">
            <div class="card-body d-flex flex-column">
                <h2 class="h5 card-title">@Html.DisplayFor(modelItem => item.Name)</h2>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                <div class="mt-auto">
                <a href="#" class="btn btn-sm btn-primary pe-3 ps-3 me-2">open</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-secondary pe-3 ps-3">details</a>
                </div>
            </div>
        </div>
        </div>
    }
    </div>
</div>

@if (User.IsInRole("ScrumMaster"))
{
    <p class="mt-4">
        <a class="btn btn-sm btn-primary" asp-action="Create">Create New</a>
    </p>
}
